includes:
    - phpstan-ignore-by-version.neon.php

parameters:
    level: max
    paths:
        - src
        - tests

    excludePaths:
        analyseAndScan:
            - tests/data/*
            - tests/dataAttrib/*

rules:
    - \Ebln\PHPStan\EnforceFactory\ForceFactoryRule
